#pragma code_page(65001)
1 VERSIONINFO
FILEVERSION 0, 3, 3, 0
PRODUCTVERSION 0, 3, 3, 0
FILEOS 0x40004
FILETYPE 0x1
FILESUBTYPE 0x0
FILEFLAGSMASK 0x3f
FILEFLAGS 0x0
{
BLOCK "StringFileInfo"
{
BLOCK "000004b0"
{
VALUE "FileDescription", "Create and set windows icons and metadata for executables"
VALUE "FileVersion", "0.3.3"
VALUE "ProductName", "tauri-winres"
VALUE "ProductVersion", "0.3.3"
}
}
BLOCK "VarFileInfo" {
VALUE "Translation", 0x0, 0x04b0
}
}
sample MENU
{
    MENUITEM "&Soup", 100
    MENUITEM "S&alad", 101
    POPUP "&Entree"
    {
         MENUITEM "&Fish", 200
         MENUITEM "&Chicken", 201, CHECKED
         POPUP "&Beef"
         {
              MENUITEM "&Steak", 301
              MENUITEM "&Prime Rib", 302
         }
    }
    MENUITEM "&Dessert", 103
}
